/* Set the size of the div element that contains the map */
#map {
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

#filter-panel {
    position: fixed;
    width: 350px;
    height: 150px;
    z-index: 3;
    border-radius: 25px;
    background-color: deepskyblue;
}
#current-location {
    margin: 10 0 10 0;
    width: 100%;
}
.col-4 {
    padding-left: 3px;
    padding-right: 3px;
}
